.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

header{
    display: flex;
    justify-content: space-between;
}

#question {
    display: flex;
    justify-content: center;
    width: 60%;
}